.post {
	margin-bottom: 30px;
	border-bottom: solid 1px #eee;
}

.post img {
	max-width: 100%!important;
	height: auto!important;
}

.post figure {
	max-width: 100%!important;
}

.post iframe {
	max-width: 100%!important;
}

input,textarea {
	max-width: 100%;
}